In [ ]:
import pandas as pd
import math
import random
import matplotlib.pyplot as plt
import os.path
import time
from datetime import timedelta, datetime
from dateutil import parser
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
def intervals():
  df['1H'] = df['close'].pct_change(periods=60)*100
  df['24H'] = df['close'].pct_change(periods=1440)*100
  df['1W'] = df['close'].pct_change(periods=10080)*100

In [ ]:
def symulacja_SL2(daily_change=20, weekly_change=20,difference=10, pp=36, name='BTCUSDT', cash=25):
  
  i=60*24*7
  zysk=0
  kupione = 0
  max_price=np.nan
  profit = 0
  
  
  while i< len(df):
    if max_price < df['close'][i]:
      max_price = df['close'][i]

    if df['24H'][i]>=daily_change and df['1W'][i]>=weekly_change and kupione==0 and abs(df['24H'][i]-df['1W'][i])<=difference:
      kupno=df['close'][i]
      ile_kupic = cash/kupno
      kupione=1
      max_price = df['close'][i]
      
    
    if kupione==1 and df['close'][i] < (100-pp)*0.01*max_price:
      sell = (df['close'][i])*ile_kupic
      zysk=sell-cash
      ile_kupic=0
      kupno=0
      kupione = 0
      profit += zysk
      
    i+=1
  return profit
   
def append(name, start=20, end=40):

  wyniki=[]
  for i in range(start,end):
    profit = symulacja_SL2(pp=i, daily_change=15, weekly_change=15,difference=5)
    wyniki.append([profit,i,name])
    print(i, profit)
  return wyniki

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/coiny/1INCHUSDT.csv')
intervals()
lista = append('1INCHUSDT')
tab = pd.DataFrame(lista, columns=['Profit', 'SL', 'Coin']) 
tab

20 27.143009532197095
21 24.896504875171093
22 32.947274286534224
23 39.81654524980401
24 38.026229959804006
25 36.30379569235726
26 34.735894131133065
27 32.809241521018
28 30.468371391240247
29 28.39721389109347
30 26.963275531315986
31 24.41183571438006
32 29.864260644014877
33 29.497272932291196
34 28.154524818582967
35 33.8084276649296
36 33.53142457455499
37 33.252537109415925
38 32.60242781567958
39 31.7870840760582

       Profit  SL       Coin
0   27.143010  20  1INCHUSDT
1   24.896505  21  1INCHUSDT
2   32.947274  22  1INCHUSDT
3   39.816545  23  1INCHUSDT
4   38.026230  24  1INCHUSDT
5   36.303796  25  1INCHUSDT
6   34.735894  26  1INCHUSDT
7   32.809242  27  1INCHUSDT
8   30.468371  28  1INCHUSDT
9   28.397214  29  1INCHUSDT
10  26.963276  30  1INCHUSDT
11  24.411836  31  1INCHUSDT
12  29.864261  32  1INCHUSDT
13  29.497273  33  1INCHUSDT
14  28.154525  34  1INCHUSDT
15  33.808428  35  1INCHUSDT
16  33.531425  36  1INCHUSDT
17  33.252537  37  1INCHUSDT
18  32.602428  38  1INCHUSDT
19  31.787084  39  1INCHUSDT

In [ ]:
main_df = pd.DataFrame()
for coin in ['LSKUSDT', 'BTCUSDT']:

  df = pd.read_csv('/content/drive/MyDrive/coiny/{}'.format(coin)+'.csv')
  intervals()
  lista = append(name=coin, start=20, end=25)
  tab = pd.DataFrame(lista, columns=['Profit', 'SL', 'Coin']) 
  main_df = pd.concat([main_df, tab])

20 25.418635673012254
21 32.486488911145905
22 30.350459944330346
23 28.354193010809727
24 27.36075130922111
20 40.29863359260085
21 131.77130727173426
22 127.48909066337995
23 123.88301037751859
24 120.11826714786008

In [ ]:
main_df.drop(columns=['Coin'], inplace=True)
main_df.groupby('SL').sum().sort_values('Profit', ascending=False)

        Profit
SL
21  164.257796
22  157.839551
23  152.237203
24  147.479018
20   65.717269

In [ ]:
main_df

       Profit  SL
0   25.418636  20
1   32.486489  21
2   30.350460  22
3   28.354193  23
4   27.360751  24
0   40.298634  20
1  131.771307  21
2  127.489091  22
3  123.883010  23
4  120.118267  24